
/** STYLE 3 **/

.mb-style-3 {
    width: 960px;
}
 
.mb-style-3 blockquote{
    background: #fff;
    padding: 30px;
    border: 0px solid #333;
    border-radius: 5px;
}

.mb-style-3 blockquote:after, 
.mb-style-3 blockquote:before  {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
 

.mb-style-3 blockquote p {
    font-family: 'Alegreya', serif;
    font-size: 36px;
    color: #333;
    font-weight: 400;
    line-height: 40px;
    font-style: italic;
    text-indent: 100px;
    position: relative;
}

.mb-style-3 blockquote p:before{
    content: '\201C';
    font-family: serif;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    font-size: 175px;
    top: 0px;
    left: -105px;
    color: #ffd700;
   /* text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1); */
}
